.aside{
   max-width: 419px;
   width: 100%;
   position: relative;
   top: -360px;
   &__zapas{
      text-align: center;
      color: #fff;
      border: 1px solid #fff;
      border-bottom: none;
      padding: 32px 10px 10px 10px;
      margin-bottom: 40px;
      h2{
         color: #fff;
      }
      span{
         font-size: 0.875rem;
         display: block;
         margin-bottom: 10px;
      }
   }
   &__zapas-img{
      display: flex;
      justify-content: center;
      margin-bottom: 17px;
      img{
         width: 64px;
         height: 64px;
         object-fit: cover;
      }
      img+img{
         margin-left: 40px;
      }
   }
  .rennab__item{
     max-width: 100%;
     flex: 100%;
     padding: 0;
     height: 160px;
     margin-bottom: 17px;
     a{
        display: block;
        height: 100%;
     }
     img{
        height: 100%;
     }
  }
   &__box{
      padding: 24px;
      border: 1px solid #000000;
      margin-bottom: 24px;
   }
   &__box--team{
      .aside__head{
         position: relative;
         padding-left: 72px;
         margin-bottom: 26px;
      }
   }
   &__statsbox{
      line-height: 164%;
      letter-spacing: -0.3px;
      h6{
         display: inline-block;
         line-height: 164%;
         letter-spacing: 0px;
      }
   }
   &__head{
      display: flex;
      font-family: poppins, sans-serif;
      font-weight: 500;
      -webkit-font-kerning:normal;
      font-kerning:normal;
      font-size:.875rem;
      color:#fff;
      margin-bottom: 17px;
      text-shadow:0 2px 6px rgba(1,1,1,.35);
      img{
         width: 64px;
         height: 64px;
         position: absolute;
         top: -17px;
         left: 0;
         margin-right: 8px;
      }
      span{
       
         display:inline-block;
      
         border-radius: 2px;
         background-color: #2465A9;
         padding: 7px 24px 10px 24px;
         margin-right: 12px;
         font-style:normal;
         -webkit-font-kerning:normal;
         font-kerning:normal;
      }
   }
}

@media(max-width:1240px){
   .aside__zapas{
      border: 1px solid #000;
      color: #000;
      margin-bottom: 24px;
      h2{
         color: #000;
      }
   }
   .aside{
      top: 0;
   }
}
@media(max-width:1100px){
   .aside{
      max-width: 100%;
   }
   .aside .rennab__item{
      height: 230px;
   }
}