html{
   box-sizing: border-box;
}
*,
*::after,
*::before{
   box-sizing: inherit;
}
html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    
}
a{
   display: inline-block;
   text-decoration: none;
}
ul,
li{
   margin: 0;
   padding: 0;
   list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
   padding: 0;
   margin: 0;
}
h1,h2{
   font-family: teko, sans-serif;
   font-weight: 700;
   font-size: 3rem;
}
h2{
   color: #264198;
   margin-bottom: 6px;
}
h3{
   font-size: 2.25rem;
   font-family: teko, sans-serif;
   font-weight: 700;
}
h4{
   font-size: 1.25rem;
   line-height: 110%;
   font-family: teko, sans-serif;
   font-weight: 700;
   
}

body{
   font-family: poppins, sans-serif;
   // font-family: teko, sans-serif;
   font-weight: 500;
   font-size: 1rem;
   color: #112944;
}
p{
   line-height: 160%;
   font-family: poppins, sans-serif;
   letter-spacing: -0.1px;
   font-weight: 500;
   font-size: 1rem;
}
img{
   width: 100%;
   display: block;
}

.container{
   padding: 0 15px;
   margin: 0 auto;
   max-width: 1310px;
   width: 100%;
}
.container-small{
   max-width: 880px;
   padding: 0 15px;
   margin: 0 auto;
   width: 100%;
}
.container-fluid{
   width:100%;
   padding-right:15px;
   padding-left:15px;
   margin-right:auto;
   margin-left:auto;
}
.container-text{
   max-width: 634px;
   width: 100%;
   margin: 0 auto;
}

.link{
   font-size: 1rem;
   font-family: poppins, sans-serif;
   font-weight: 500;
   color: #2465A9;
   position: relative;
   padding-right: 15px;
   border-radius: 33px;
   border: 1px solid #264198;
   display: flex;
   width: max-content;
   margin: 0 auto;
   padding: 12px 38px 12px 30px;
   &::before{
      content: '';
      position: absolute;
      background-image: url('../images/svg/arrow-icon.svg');
      width: 6px;
      height: 9px;
      right: 26px;
      top: 15px;
      background-size: cover;
   }
}
table{
   width: 100%;
   border-collapse: collapse;
}
tr th,
tr:nth-child(odd) td {
   background-color: #f7f7f7;
}
tr td{
   text-align: center;
}
tr td:nth-child(2){
   text-align: left;
}
tr td,
tr th{
   font-size: 1rem;
   font-weight: 500;
   padding: 11px 8px;
}
tr td:first-child{
   color: #2465A9;
}
tr td:last-child,
tr th:last-child{
   padding-right: 30px;
}
tr td:first-child,
tr th:first-child{
   padding-left: 9px;
   padding-right: 2px;
}
tr th{
   text-align: left;
}